.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__navigation__prev2-button {
  display: none;
}

.react-calendar__navigation {
  background-color: #f7f7f7;
  margin-bottom: 0;
}

button.react-calendar__tile {
  border: 1px solid #f7f7f7;
}

.react-calendar__month-view__weekdays {
  display: none !important;
}

.react-calendar {
  width: 100%;
  border: none;
  font-size: 1.2rem;
  font-family: inherit;
}

.HomePage-container {
  height: 92.5vh;
  display: flex;
  flex-direction: column;
}

.HomePage-main {
  flex: 1 0 auto;
  padding-top: 3rem;
}

.HomePage-calendar {
  flex-shrink: 0;
}

.HomePage-main-img {
  width: 12rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 8.5rem;
}

.HomePage-main-text {
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1.1rem;
}

@media (max-width: 320px) {
  .HomePage-main-text {
    font-size: 1rem;
  }

  .HomePage-main {
    padding-top: 0.5rem;
  }
}